body{
	background-image: url(zvezda.gif);

}
.text{
	text-align: center;
	color: white;
}
.img1{
margin-right:  300px;	
}
.img2{
	margin-left: 15px;
}
.img3{
	margin-right: 500px;
	margin-left: 150px;
}